body {
    /* Eliminamos margenes por defecto del navegador */
    margin: 0;
    /*activamos flexbox para centrar el contenido*/
    display: flex;
    /*cambiamos la direccion a columna */
    flex-direction: column;
    /*centramos horizontalmente*/
    align-items: center;
    /*centramos verticalmente*/
    justify-content: center;
    /*altura total de la pantalla, necesario para centrar verticalmente un valor de
     100vh equivalente al 100% de la altura de la ventana grafica*/
    height: 100vh;
    /*fondo de imagen de la casa de papel*/
    background-image: url(../img/fondo.jpg);
    /*ajustamos la imagen para cubrir toda la pantalla sin distorsionarla*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*color del texto*/
    color: #fff;
    /*fuente de netflix*/
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /* espacio entre elementos*/
    gap: 20px;
    }
    
.titulo {
    /*tamaño de la fuente*/
    font-size: 2.5em;
    /*color rojo caracteristico de netflix*/
    color: rgb(255, 255, 255);
    /*sombra para dar profundidad al texto*/
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.contenedor {
    /*padding para dar espacio interno*/
    padding: 20px;
    height: 400px;
    width: 700px;
    background-color: rgba(87, 74, 74, 0.295); /* Fondo semitransparente para mejorar la legibilidad */
    /*activamos flexbox para centrar el contenido*/
    display: flex;
    /*centramos horizontalmente*/
    flex-direction: column;
    justify-content: center;
    /*espacio entre elementos*/
    gap: 20px;
}   
img {
    /*centrar la imagen*/
     display: block;
     margin: 0 auto;
    justify-content: center;
    /*tamaño de la imagen*/
    width: 250px;
    /*borde redondeado*/
     border-radius: 20px;
    /*sombra para dar profundidad*/
    box-shadow: 0 4px 8px rgba(250, 0, 0, 0.6); 
}
img:hover {
    /*efecto de zoom al pasar el mouse*/
    transform: scale(1.1);
    /*transicion suave para el efecto de zoom*/
    transition: transform 0.3s ease;
}
.parrafo {
    /*tamaño de la fuente*/
    font-size: 1.2em;
    /*color del texto*/
    color: #fff;
    /*sombra para dar profundidad al texto*/
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    width: 600px;
    /*centrar el texto*/
    text-align: center;
}
